body{
  margin: 10px;
  padding: 0;
  color: blueviolet;
  text-align: center;
  box-sizing: border-box;
}
.container{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  margin-top: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

/* overflow */
.one,
.two,
.three,
.four,
.five,
.six {
  overflow: hidden;
}

.one {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}
.two {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1 / 3;
  grid-row: 3 / 7;
}
.four {
  grid-column: 3 / 5;
  grid-row: 3 / 5;
}
.five {
  grid-column: 5 / 7;
  grid-row: 3 / 5;
}
.six {
  grid-column: 3 / 7;
  grid-row: 5 / 7;
}

img {
  width: 100%;
  height: 100%;
  background: cover;
  object-fit: cover;
  border-radius: 5px;
  transition: .3s all ease-in-out;
}
img:hover {
  overflow: hidden;
  border-radius: 5px;
  transform: scale(1.2);
}